
/* principal */
.menu{
    background-color: #efb810;
}
.fuente{
    color:#efb810 ;
}
/* estilos del cambio */
.color_letra
{
    color: white;
}
.color_titulo
{
    color: #323C8D;
}
.color_menu{
    background-color: #323C8D;
}

.fondo{
    background-color: black;
}